.mask
{
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
    opacity: .5;
    background-color: #777;
    filter: alpha(opacity=60);
    -moz-opacity: .5;
}
.shipping-address-form
{
    width: 730px;
    margin-bottom: 45px;
    padding-left: 10px;
    input[type='text']
    {
        font-size: 13px;
        height: 35px;
        text-indent: 5px;
        border: 1px solid #cfcfcf;
        border-radius: 2px;
    }
    label
    {
        font-size: 14px;

        display: block;

        height: 20px;
        margin-top: 10px;

        color: #666;
        span
        {
            color:red;
            margin-right: 5px;
        }
    }
    .Firstname
    {
        input
        {
            width: 340px;
        }
        .Firstname_right
        {
            float: right;
        }
        .Firstname_left
        {
            float: left;
        }
    }
    .AddressLine2,
    .AddressLine1
    {
        input
        {
            width: 100%;
        }
    }
    .selectd
    {
        li{
            width: 342px;
           select{
                display: inline-block;
                width: 340px;
                height: 35px;
                border: 1px solid #cfcfcf;
                text-indent: 5px;
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                background:url(../images/place_order_03.jpg) no-repeat scroll 93% center transparent;
            }
            input[name="states"]{
                    width: 338px;
            }
        }
    }
    .city
    {
        width: 100%;
    }
    .zip
    {
        margin-bottom: 20px;
        label
        {
            margin-top: 10px;
        }
        input
        {
            width: 729px;
        }
    }
    .privacy
    {
        display: block;
        width: 135px;
        color: #666;
        border-bottom: 1px solid #666;
        &:hover
        {
            color: #eeb053;
            border-bottom: 1px solid #eeb053;
        }
    }
    .privacy.privacy_address{
        float: right;
    }
}
.popup{
    display: none;
    position: fixed;
    top:10%;
    left:25%;  
    margin-bottom: 45px;
    box-shadow:1px 1px  10px #333;
    padding: 35px 25px;
    z-index: 1003;
    background: white;
    .icon-close{
        position: absolute;
        top:-15px;
        right: -15px;
        font-size: 30px;
        cursor: pointer;
    }
    button{
        display: block;
        margin: 10px auto;
        width: 245px;
        height: 30px;
        background: #eeb035;
        color:white;
        border: 1px solid #eeb035;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        &:hover{
            color:#eeb035;
            border: 1px solid #eeb035;
            background:white;
        }
    }
    .privacy.privacy_popup
    {
        margin: 0 auto;
    }
}