.pager{
	float:right;
	text-align: center;
	color:#818181;
	margin-top:20px;
	span{
		display:block;
		width: 26px;
		height:26px;
		line-height:26px;
		font-size: 18px;
		border-radius:50%;
		cursor: pointer;
		top:0;
	}
		
	ul{
		li{
			float: left;
			width:26px;
			height:26px;
			line-height:26px; 
			border-radius:50%;
			margin: 0 3px;
			line-height:26px;
			a{ 
				font-size: 16px;
			}
			&:hover{
				background:#e5941a;
				a{
					color:white;
				}
			}
		}
	}
	.current{
		background:#e5941a;
		color:white;
	}
	.more:hover{
		background:transparent;
		a{
			color:black;
		}
	}
}