@import "../base/_normalize.scss";
@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
header{
	padding-bottom:10px;
}
.abackground2{
	background-position: 0 0;
}
.abackground1{
	background-position: 0 -136px;
}
.banner{
	span{
		display:block;
		width: 1200px;
		margin:5px auto;
		color:#666;
		label{
			font-size: 12px;
			font-family: Arial;	
			margin-left: 5px;
		}
	}
	img{
		width: 100%;
	}
}
.wrap{
	position:relative;
	.liebiao{
		width: 1100px;
			margin-top:30px;
			.Swimwear{
				margin-bottom:20px;
				img{
					float: left;
				}
				label{
					width:1100px;
					display: block;
					float: left;
					margin-top:-80px; 
					margin-left:180px;
					font-size: 34px;
					font-weight: bold;
					text-transform:uppercase;
				}
			}
		li{
			float: left;
			border: 1px dashed #cfcfcf;
			padding:5px;
			text-align: center;
			width: 240px;
			margin-top:20px;
			margin-left:20px;
			&:hover{
				transition:all 0.5s ease;
				border:1px solid #f39c11 ;
			}
			a{
				height:300px;
				display: block;
				overflow: hidden;
				color:#666;
				word-wrap:break-word;
				&:hover{
					transition:color 0.5s ease;
					color:#f39c11;
				}
			}
			img{
				display: block;
				width: 261px;
				height: 261px;
				margin-bottom: 5px;
			}
			h2{
				color:red;
				font-size: 24px;
				font-weight: bold;
				margin:10px 0 20px 0;
			}
			h3{
				color:#333;
				font-size: 18px;
			}
			button{
				display: block;
				width: 140px;
				height: 30px;
				background:#292929;
				color:white;
				border:none;
				margin:0 auto;
				margin-top:30px;
				margin-bottom: 40px;
				border-radius:3px;
				&:hover{
					transition:all .5s ease;
					background:#f39c11 ;
				}
			}
		}
	}
	#navigationbar{
		text-align: center;
		width: 120px;
		position:absolute;
		right:-10px;
		top:162px;
		height: 511px;
		z-index: 100;
		ul{
			position:absolute;
			top:203px;
			left:9px;
			width:90px;
			background:#f5c170; 
			li{
				width:70px;
				height: 60px;
				padding:0 10px;
				&:hover{
					transition: all .5s ease;
					background:white;
					a{
						color:#f5c170;
					}
				}
				a{
					display: inline-block;
					width: 70px;
					line-height: 60px;
					border-bottom:1px dashed white;
					font-weight: bold;
					text-transform:uppercase;
					color:white;
				}
				&.beachStyle{
					background:white;
					a{
						color:#f5c170;
					}
				}

			}
			li:last-child{
				width:90px;
				border:none;
				padding: 0;
				a{
					width: 90px;
				}
			}
		}
		>a{
			position:absolute;
			left:9px;
			bottom:7px;
			width:90px;
			height: 70px;	
			display: block;
			border-radius:0 0 45px 45px;
			span{
				display: block;
				color:#f5c170;
				font-size:30px;
				cursor: pointer;
			}
			label{
				color:#f5c170;
				font-size:20px;
				cursor: pointer;
			}
		}
	}
}


