@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
header{
	padding-bottom:10px;
}
.abackground2{
	background-position: 0 0;
}
.abackground1{
	background-position: 0 -136px;
}
.banner{
	span{
		display:block;
		width: 1200px;
		margin:5px auto;
		color:#666;
		label{
			font-size: 12px;
			font-family: Arial;	
			margin-left: 5px;
		}
	}
	img{
		width: 100%;
	}
}
.wrap{
	.navbar{
		position: relative;
		ul{
			li{
				float: left;
				position:absolute;
				text-align: center;
				width: 148px;
				height: 136px;
				a{
					display: inline-block;
					width: 148px;
					height: 136px; 
					background-image:url(../images/beach.png);
					&:hover{
						transition: all .5s ease;
						background-position:0 -136px;
					}
				}
				span{
					display:block;
					margin-top:55px;
					font-family: Courier New;
					font-size: 24px;
					font-weight: bold;
				}
			}
			.swimwear{
				top:30px;
				left:210px;
			}
			.sandal{
				top:45px;
				left:428px;
			}
			.jewelry{
				top:70px;
				left:648px;
			}
			.sunglasses{
				top:80px;
				left:866px;
			}
		}		
	}
	.liebiao{
			margin-top:30px;
		ul{
			display: none;
		}
		li{
			float: left;
			border: 1px dashed #cfcfcf;
			padding:10px 5px;
			text-align: center;
			width: 261px;
			margin-top:20px;
			margin-left:20px;
			&:hover{
				transition:all 0.5s ease;
				border:1px solid #f39c11 ;
			}
			a{
				display: block;
				overflow: hidden;
				height: 294px;
				width: 100%;
				color:#666;
				word-break: break-normal ; 
				word-wrap:break-word;
				&:hover{
					transition:color 0.5s ease;
					color:#f39c11;
				}
			}
			img{
				display: block;
				width: 261px;
				height: 261px;
				margin-bottom: 5px;
			}
			h2{
				color:red;
				font-size: 24px;
				font-weight: bold;
			}
			h3{
				color:#333;
				font-size: 18px;
			}
			button{
				display: block;
				width: 140px;
				height: 30px;
				background:#292929;
				color:white;
				border:none;
				margin:0 auto;
				margin-bottom: 20px;
				border-radius:3px;
				&:hover{
					transition:all .5s ease;
					background:#f39c11 ;
				}
			}
		}
	}
}