@import "../base/_normalize.scss";
@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
header{
	padding-bottom:10px;
}
.spancolor{
	color:#febe2f;
}
.banner{
	span{
		display:block;
		width: 1200px;
		margin:5px auto;
		color:#666;
		label{
			font-size: 12px;
			font-family: Arial;	
			margin-left: 5px;
		}
	}
	img{
		width: 100%;
	}
}
.wrap{
	position:relative;
	.item{
		margin-top: 20px;
	}
	.item_a span{
		text-align: center;
		width:232px;
		transform: rotate(-5deg);
		display: block;
		margin-top:-140px;
		font-size: 24px;
		font-weight: bold;
		color:#9a630c;
	}
	.item_more{
		display: inline-block;
		font-size: 14px;
		margin-right: 100px;
		color:#aaa;
		border-bottom: 1px solid transparent;
		&:hover{
			color:#333;
			border-bottom: 1px solid #333;
		}
	}
	ul{
		position:relative;
		margin-left: 25px;
		margin-top: 35px;
		background:#cfcfcf;
		height: auto;
		padding-bottom:20px;
		z-index: 100;
		width: 1090px;
		li{
			width: 260px;
			float: left;
			text-align: center;
			margin-top:10px;
			margin-left: 10px;
			background:white;
			&:hover{
				.Buy{
					transition:all 0.5s ease;
					border:1px solid #f39c11;
				}
				button{
					transition:all 0.5s ease;
					background:#f39c11;
					border:1px solid  #f39c11;
				}
			}
			.Buy{
				border: 1px solid transparent;
				a{
					display: inline-block;
					width:auto;
					color:#666;
					height:280px;
					word-wrap:break-word;
					&:hover{
						transition:color 0.5s ease;
						color:#f39c11;
					}
				}
				img{
					display:block;
					width:100%;
					margin-bottom: 5px;
				}
				h2{
					color:red;
					height: 50px;
					width: 60%;
					border-bottom:1px dashed #cfcfcf;
					margin: 30px auto;
					font-size: 24px;
					font-weight: bold;
				}
				h3{
					color:#333;
					font-size: 18px;
					padding-bottom:30px;
				}
			}
			button{
				display: block;
				width:100%;
				height:40px;
				background:#292929;
				color:white;
				border:1px solid #292929;
				font-size: 18px;
			}
		}
	}
	.navbar{
		width: 156px;
		height:591px;
		position:absolute;
		right:-45px;
		top:70px;
		z-index: 10000;
		div{
			position:absolute;
			top:140px;
			left:15px;
			a{
				display: block;
				height:60px;
				width: 90px;
				border-radius:50%;
				text-align: center;
				margin-bottom: 12px;
				padding-top:30px;
				font-size: 16px;
				font-weight: bold;
			}
			.gotop_top{
				height:35px;
				line-height: 40px;
				width:115px;
				font-size:18px;
				color: white;
				font-weight: bold;
				padding:0 7px;
				letter-spacing:10px;
				margin-left:-10px;
			}
		}
	}
}
.navbarStyle{
	color:#9a630c;
}