@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/footer.scss";
@import "../widget/page.scss";
body{
	font-family: "Arial";
	width: 100%;
	background: url(../images/bj.jpg) 0 50% repeat-y;
}
.iconfont:hover{
	color:#e5941a;
}
.navs{
	background: white;
	color:#747474;
	width: 100%;
	height:30px;
	line-height: 30px;
}
.navs span{
	display:block;
	float: left;
	width: 20px;
	height: 30px;
	line-height: 30px;
	margin-left:15%;
	background: url(../images/navs.jpg);
}
.banner{
	width:100%;
	height: 677px;
	background: url(../images/banner.jpg) center center;
}
.box1{
	text-align: center;
	width: 1200px;
	height:auto;
	background:#D9E6EE;
	margin:-40px auto 0;
	position: relative;
	padding-top: 20px;
}
.tabdiv2 input,	
.tabdiv input{
	display: inline-block;
	width: 30px;
	height: 30px;
	background:#D9E6EE;
	border: none;
	font-size: 20px;
	border-radius: 50%;
}
.tabdiv2 input{
	display: block;
	float: left
}
.tabdiv{
	color:#818181;
	text-align: right;
	width:1172px;
	height: 54px;
	line-height: 54px;}
.tabdiv i{
	margin-left: 5px;
	display: inline-block;
	width: 16px;
	height: 16px;}
.tabdiv span{
	display: inline-block;
	color: black;
	width:15px;
	font-size: 14px;
	text-align: center;
	line-height: 54px;
}
.tabdiv span{
	display: inline-block;
	color: black;
	width: 20px;
	text-align: center;
}
.tabdiv2{
	text-align: center;
	position: relative;
	top:-60px;
	left: 840px;
	width: 470px;
	height: 30px;
	line-height: 30px;;
}

.tabdiv2 ul li{
	display:block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	float: left;
	font-size: 16px;
	cursor: pointer;
	margin-right: 5px;
}
.tabdiv2 li:hover{
	background: #ff9933;
	color:white;
}	
.bkgcolor{
	background: #ff9933;
	color: white;
}
.box1 ul{
	margin:0px 9px 94px 18px;
	padding-bottom:50px;
}
.box1 ul li{
	margin-left: 7px;
	margin-bottom: 30px;
	float: left;
	width: 280px;
	background: white;
	border:1px solid transparent;
	text-align:center;
	a{
		display: inline-block;
		color:#aaa;
		width: 260px;
		margin-bottom:20px;
		word-break: break-all;
		word-wrap: break-word;
		&:hover{
			transition:all 0.5s ease;
			color:red;
		}
	}
}
.box1{
	li:nth-child(4n+1){
		clear: left;
	}
}
.box1 ul li a img{
	display: inline-block;
	width: 260px;
}
.box1 button{
	width: 140px;
	height: 33px;
	font-size: 16px;
	background: red;
	color:white;
	border: none;
	margin: 20px 0;
	&:hover{
		border:2px solid red;
		background: white;
		color:red;
	}
}
.box1 ul li:hover{
	transition:all 0.5s ease;
	border:1px solid red;
}

.box1 img{
	margin: 10px auto;
}
.price{
	width: 130px;
	float: left;
}
.one{
	margin-left:10px;
	border-right: 1px dashed #888;
	h3{
		color: red;
		font-size: 24px;
	}
	h5{
		font-size: 12px;
		text-decoration: line-through;
		color:#b3b3b3;
		margin-left:-24px;
	}
}
.tow{
	h3{
		color:red;
		font-size: 24px;
	}
	h5{
		font-size: 12px;
		color:#b3b3b3;
	}
}


.pages{
	margin-top:-145px;
	margin-right:127px;
}
footer{
	background:white;
	margin-top:120px;
}