/*index css*/
.menu_slide{
	.carousel{
		&:hover{
			i{
				display: block;
			}
		}
		i{
			display: none;
		}
		.next {
			top:200px;
			right:0;
		}
		.prev{
			top:200px;
			left:0;
		}
	}
}
.home_show {
	&:hover{
		.next,.prev{
			display: block;
			opacity: 0.2;
			filter:alpha(opacity=20);
			&:hover{
				opacity: 0.5;
			filter:alpha(opacity=50);
			}
		}
	}
	.next,.prev{
		display: none;
	}
}
.menu{
	border:1px solid transparent;
	&.active{
		border:1px solid #cfcfcf;
	}
	&:hover{
		border:1px solid #cfcfcf;
	}
}
.subNav{
	border:1px solid #dfdfdf;
	&:before{
		content: "*";
		position: absolute;
		width: 20px;
		min-height: 420px;
		top: 0;
		left: -13px;
		background-color: #fff;
		z-index: 10;
	}
}
/*index css -end--*/

/*list css*/
.search{
	.proItem{
		width: 216px;
		margin-right: 24px;
	}
}
.proItem{
	box-sizing:border-box;
	border:1px solid transparent;
	width: 222px;
	&:hover{
		border:1px solid #eeb053;
	}
	.off{
		background: #333;
		opacity: 0.5;
		filter:alpha(opacity=50);
	}
	.p_quick_view{
		background: white;
		opacity: 0.6;
		filter:alpha(opacity=60);
		color:black;
	}
}
.last{
	margin-right: 0;
}
/*list css --end--*/
/*place order css*/
.moreInfoSec i{
	display: none;
}
.cart_right{
	border:1px solid #cfcfcf;
	.rightHead,#discount-coupon-form,#discount-points-form{
		input[type="text"]:hover{
			border:1px solid #52a8ec;
		}
	}
}
/*place order css -end--*/
/* point css */
.mypoint{ 
	.point_val{
		margin-top: 17px
	}
}
/* point css --end--*/

/*addressBook css*/
.addressbook_address{
	border:2px dashed #cfcfcf;
	&:hover{
		border:2px solid #eeb053;
	}
}
/*addressBook css --end --*/