@import "../help/_helper";
@import "../base/_normalize";
@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
.menu_slide{
	margin-left: 250px;
	.carousel{
		width: 762px;
		margin: 6px 6px 0 7px;
		position: relative;
		overflow: hidden;
		&:hover{
			i{
				opacity: 0.2;
				filter:alpha(opacity=20);
				&.next{
					transform: translatex(-20px);
					-webkit-transform: translatex(-20px);
				}
				&.prev{
					transform: translatex(20px);
					-webkit-transform: translatex(20px);
				}
			}
		}
		li{
			width: 762px;
			height: 480px; 
			float: left;
			display: block;
			img{
				width: 100%;
			}
		}
		.carousel_main{
			width: 3810px;
		}
		i:hover{
			opacity: 0.5;
			filter:alpha(opacity=50);
		}
		i{
			font-size: 70px;
			color: #fff;
			position: absolute;
			width: 24px;
			height: 82px;
			opacity: 0;
			background-color: #000;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
		}
		.carousel_extra{
			position: absolute;
			width: 100%;
			top: 445px;
			left:335px;
			text-align: center;
			li{
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background-color: #fff;
				display: inline-block;
				margin: 0 5px;
				cursor: pointer;
			}
			li.active{
				background-color: #f39c11;
			}
		}
		.prev{
			top: 200px;
			left: -20px;
			&:before{
				position: absolute;
				left: -39px;
			}
		}
		.next{
			top: 200px;
			right:-20px;
			&:before{
				position: absolute;
				left: -5px;
			}
		}
	}
	.banners{
		li{
			margin-top: 6px;
		}
	}
}
.home_hot{
	margin-top: 83px;
	width: 1200px;
	overflow: hidden;
	position: relative;
	.title{
		float: left;
		padding: 19px;
		border: 1px dashed #dfdfdf;
		position: relative;
		li{
			font-size: 16px;
			height: 36px;
			position: absolute;
			a{
				line-height: 36px;
			}
			&.active{
				a{
					color: #fff;
				}
			}
		}
		.hot_title{
			&.active{
				background: url('../images/bg.png') no-repeat scroll -0 0;	
			}
			top: 215px;
			left: 80px;
			width: 126px;
			background: url('../images/bg.png') no-repeat scroll -0 -36px;
			padding-left: 37px;
		}
		.new_title{
			&.active{
				background: url('../images/bg.png') no-repeat scroll 0 -108px;
			}
			top: 245px;
			left: 56px;
			width: 176px;
			background: url('../images/bg.png') no-repeat scroll 0 -72px;
			padding-left: 15px;
		}	
	}
	.hot,.new{
		ul{
			float: left;
			padding-top: 20px;
			li{
				width: 210px;
				height: 298px;
				float: left;
				margin-left: 85px;
			}
		}
		i{
			width: 18px;
			height: 119px;
			position: absolute;
			top: 109px;
			cursor: pointer;
			&:hover{
				color: #f39c11;
			}
			&:before{
				position: absolute;
				font-size: 120px;
			}
		}
		.next{
			left: 1186px;
			&:before{
				left: -29px;
			}
		}
		.prev{
			left: 284px;
			&:before{
				left: -70px;
			}
		}
	}
}
.home_cate{
	margin-top: 75px;
	.title{
		padding-right: 20px;
		text-align: right;
		span{
			font-size: 44px;
			color: #f39c11;
			display: inline-block;
			border-bottom: 1px solid #f39c11;
			i{
				font-size: 48px;
				color: #f39c11;
			}
		}
	}
	.content{
		padding: 19px;
		margin-top: 22px;
		border: 1px dashed #dfdfdf;
	}
	.cate_promotion{
		float: left;
		width: 502px;
		position: relative;
		overflow: hidden;
		height: 532px;
		li{
			float: left;
		}
	}
	.cate_recommend{
		padding: 19px 23px 0 23px;
		float: left;
		li{
			&.active,&:hover{
				img{
					transform: scale(1.1,1.1);
				}
			}
			width: 135px;
			height: 135px;
			padding: 2px;
			margin-bottom: 20px;
			border-radius: 50%;
			position: relative;
			border: 1px dashed #dfdfdf;
			img{
				width: 135px;
				height: 135px;
				border-radius: 50%;
				transition: all 0.25s ease-in-out;
			}
			span{
				display: inline-block;
				width: 130px;
				background-color: #fff;
				opacity: 0.8;
				font-size: 21px;
				top: 40px;
				left: 0;
				position: absolute;
				text-align: center;
				margin-left: 4px;
			}
		}
	}
	.cate_main{
		float: right;
	}
}
.home_show{
	margin-top: 83px;
	position: relative;
	overflow: hidden;
	.title{
		font-size: 30px;
		color: #f39c11;
		margin-bottom: 32px;
		border-bottom: 1px solid #f39c11;
		i{
			position: relative;
			top: 0;
			font-size: 44px;
		}
	}
	ul{
		width: 1000%;
		li{
			background-color: #526989;
			float:left;
			width: 210px;
			height: 282px;
			margin-right: 37px;
		}
	}
	.next,.prev{
		&:hover{
			opacity: 0.5;
		}
		font-size: 70px;
		color: #fff;
		position: absolute;
		width: 24px;
		height: 82px;
		opacity: 0.2;
		background-color: #000;
		top: 190px;
		cursor: pointer;
		&:before{
			position: absolute;
		}
	}
	.next{
		left: 1173px;
		&:before{
			left: -4px;
		}
	}
	.prev{
		&:before{
			left: -39px;
		}
	}
}

.hot,.new{
	width: 950px;
	overflow: hidden;
	ul{
		width: 2655px;
	}
}
