@import "../widget/color.scss";
@import "../widget/loading.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../widget/breadcrumb.scss";
@import "../widget/page.scss";
@import "../widget/libiao.scss";
@import "../layout/footer.scss";

//old version
@import "../help/_helper.scss";
@import "../base/_normalize.scss";
@import "../components/_colors.scss";
@import "../components/_form.scss";
@import "../layout/_layout.scss";
@import "../layout/_product.scss";
@import "../components/_dropdown";
@import "../components/_selectDrop";

.wrap{
	padding-top:5px;
}

.iconfontStyle{	
	transition: transform 0.5s ease;
	transform: rotate(90deg);
}
.sidebox{
	.color{
		dd{
			padding-left:20px;
			a{	
				display: block;
				float: left;
				width: 20px;
				height:20px;
				border:1px dashed #888;
				border-radius:50%;
				padding:10px 0 13px 25px;
				margin-top:10px;
				span{
					display: block;
					width: 30px;
					height: 30px;
					border-radius:50%;
					margin-left:-18px;
					margin-top:-4px;
				}
			}

		}
	}
		.list{
			dt{
				cursor:pointer;
				&:hover{
					color:#f39711;
				}
			}
			.iconfont{
				display: inline-block;
				color:#f39711;
			}
			dd{
				margin-top:10px;
			}
		}
	.title{
		font-size: 18px;
		line-height: 30px;
		font-style: italic;
	}
	&.sub_cate li{
		margin-left: 12px;
		line-height: 32px;
		a{
			font-style: italic;
			color: #818181;
			&:hover,&.currency{
				color:#f39711;
			}
		}
	}
	&.shop_by dl{
		float: left;
		width: 100%;
		margin: 23px 0 0 12px;
		dt{
			font-size: 14px;
			color: #666;
		}
		dd{
			display:none;
			a{
				&:hover{
					color:#f39711;
				}
				color: #aaa;
				line-height: 20px;
				margin-left: 17px;
			}
		}
		&.size{
			float: left;
			dt{
				font-style: italic;
			}
			dd{
				display:block;
				margin: 22px 49px 0 17px;
				float: left;
				a{
					display: inline-block;
					padding: 5px;
					margin: 0;
					border: 1px dotted #cfcfcf;
					margin: 0 15px 15px 0;
					float: left;
				}
			}
		}
	}
}

//product view mode list
.listView {
    li {
        text-align: justify;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
            overflow: hidden;
        }
    }
    .proImg {
        width: 210px;
        height: 210px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        &:hover {
            span {
                bottom: 0px;
            }
        }
    }
    .proMid {
        width: 430px;
        display: inline-block;
        vertical-align: top;
        p {
            color: lighten($textcol, 5%);
            a {
                color: $basecol;
                text-decoration: underline;
            }
        }
    }
    .proMon {
        width: 160px;
        display: inline-block;
        vertical-align: top;
        span {
            display: block;
            margin-bottom: 5px;
        }
        strong {
            font-weight: normal;
            margin-left: 5px;
        }
    }
    em {
        font-style: normal;
        color: $basecol;
    }
    .cheap {
        font-size: pxToRem(30px);
        // color: #ff6a82;
        color: $red;
    }
    .pricey {
        strong {
            text-decoration: line-through;
            color: #aaaaaa;
        }
    }
    .proToCart {
        position: static;
        display: block;
        top: 0px;
        opacity: 1;
        transform: none;
        text-align: left;
    }
}

/* qiuck view */
.quickView {
    text-align: left;

    .productAside {
        width: auto;
        margin-right: 20px;
    }

    .switchImg {
        text-align: left;

        ul {
            display: block;
            font-size: 0px;
            width: auto;
            margin-top: 10px;
            margin-right: 0px;
        }

        li {
            margin: 0px 5px 0px 0px;
            width: 70px;
            height: 70px;
            display: inline-block;
        }

        > div {
            width: 400px;
        }
    }

    .productDetail {
        width: 500px;
        text-align: left;
    }

    .custom {
        a {
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $basecol;
            }
        }

        i {
            margin-right: 5px;
        }
    }

    .customsize {
        label {
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $basecol;
            }
        }

        input {
            display: none;
        }
    }

    .prev, .next {
        font-size: pxToRem(60px);
        position: absolute;
        top: 40%;
        right: 2px;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        height: 60px;
        width: 20px;
        opacity: 0;
        visibility: hidden;

        &:hover {
            color: $basecol;
        }
    }

    .prev {
        right: none;
        left: 2px;
    }

    .disable {
        display: none;
    }

    .popUp:hover {
        .prev, .next {
            visibility: visible;
            opacity: 1;
        }
    }

    #shipping {
        display: none;
    }
}

.scrollBox {
    padding-bottom: 20px;
    text-align: left;

    > ul {
        font-size: 0px;
        border-bottom: 2px solid #4c4e44;
        margin-bottom: 20px;

        li {
            font-size: pxToRem(16px);
            text-transform: uppercase;
            padding: 5px 15px;
            display: inline-block;
            color: $textcol;
            transition: all 0.2s ease-in-out;
            position: relative;
            cursor: pointer;

            &:hover, &.active {
                color: #4c4e44;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    width: 0px;
                    height: 0px;
                    left: 40%;
                    border-width: 10px;
                    border-style: solid;
                    border-color: #4c4e44 transparent transparent transparent;
                }
            }
        }
    }

    > div, > section {
        overflow-y: scroll;
        height: 200px;
    }
}

#description {
    img {
        display: none;
    }
}
