@import "../help/_helper.scss";
@import "../widget/color.scss";
@import "../base/_normalize.scss";
@import "../widget/form.scss";
@import "../widget/loading.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../widget/breadcrumb.scss";
@import "../widget/product_list.scss";
@import "../widget/product.scss";
@import "../widget/page.scss";
@import "../widget/dropdown.scss";
@import "../widget/selectDrop.scss";
@import "../layout/footer.scss";
.header{
    line-height: 30px;
    margin-bottom: 27px;
    h1{
        font-size: 18px;
        float: left;
    }
.view_mode{
        float:right;
        padding: 0 6px 0 25px;
        border-top: 1px solid #f39c11;
        border-bottom: 1px solid #f39c11;
        .view_mode_list{
            background:white;
            width: 130px;
            li{
                height: 25px;
                line-height: 25px;
                padding-left:15px;
                &:hover{
                        background:#f39c11;
                    a{
                        color:white;
                    }
                }
                a{
                    display: block;
                    width: 100%;
                    color:#888;
                    font-size: 12px;
                }
            }
        }
        .view{
            margin-left: 45px;
            &:hover{
                .drop{
                    display: block;
                }
            }
        } 
        .sort{
            &:hover{
                .drop{
                    display: block;
                }
            }
        } 
        .drop{
            position: absolute;
            border:1px solid #cfcfcf;
            background:red;
            z-index: 100;
            right:-55px;
            top:30px;
            display: none;
            em{
                width: 0;
                height: 0;
                border-width:0 7px 7px;
                border-color: transparent;
                border-style: solid;
                position: absolute;
                top: -8px;
                right: 55px;
            }
            em.triangle_gb{
                border-bottom-color: #ddd;
            }
            em.triangle_wb{
                top: -7px;
                border-bottom-color: #fff;
            }
        }  
    } 

}
.wrap{
	padding-top:5px;
}
.iconfontStyle{	
	transition: transform 0.5s ease;
	transform: rotate(90deg);
}
.sidebox{
	.color{
		dd{
			padding-left:20px;
			a{	
				display: block;
				float: left;
				width: 20px;
				height:20px;
				border:1px dashed #888;
				border-radius:50%;
				padding:10px 0 13px 25px;
				margin-top:10px;
				span{
					display: block;
					width: 30px;
					height: 30px;
					border-radius:50%;
					margin-left:-18px;
					margin-top:-4px;
				}
			}

		}
	}
	.list{
		dt{
			cursor:pointer;
			&:hover{
				color:#f39711;
			}
		}
		.iconfont{
			display: inline-block;
			color:#f39711;
		}
		dd{
			margin-top:10px;
		}
	}
	.title{
		font-size: 18px;
		line-height: 30px;
		font-style: italic;
        text-align: right;
	}
	&.sub_cate li{
		margin-left: 12px;
		line-height: 32px;
		a{
			font-style: italic;
			color: #818181;
			&:hover,&.currency{
				color:#f39711;
			}
		}
	}
	&.shop_by dl{
		float: left;
		width: 100%;
		margin: 23px 0 0 12px;
		dt{
			font-size: 14px;
			color: #666;
		}
		dd{
			display:none;
			a{
				color: #aaa;
				line-height: 20px;
				margin-left: 17px;
                &:hover{
                    color:#f39711;
                }
			}
		}
		&.size{
			float: left;
			dt{
				font-style: italic;
			}
			dd{
				display:block;
				margin: 22px 49px 0 17px;
				float: left;
				a{
					display: inline-block;
					padding: 5px;
					margin: 0;
					border: 1px dotted #cfcfcf;
					margin: 0 15px 15px 0;
					float: left;
				}
			}
		}
	}
}

//product view mode list
.listView {
    li {
        text-align: justify;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
            overflow: hidden;
        }
    }
    .proImg {
        width: 210px;
        height: 210px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        &:hover {
            span {
                bottom: 0px;
            }
        }
    }
    .proMid {
        width: 430px;
        display: inline-block;
        vertical-align: top;
        p {
            color: lighten($textcol, 5%);
            a {
                color: $basecol;
                text-decoration: underline;
            }
        }
    }
    .proMon {
        width: 160px;
        display: inline-block;
        vertical-align: top;
        span {
            display: block;
            margin-bottom: 5px;
        }
        strong {
            font-weight: normal;
            margin-left: 5px;
        }
    }
    em {
        font-style: normal;
        color: $basecol;
    }
    .cheap {
        font-size: pxToRem(30px);
        color: $red;
    }
    .pricey {
        strong {
            text-decoration: line-through;
            color: #aaaaaa;
        }
    }
    .proToCart {
        position: static;
        display: block;
        top: 0px;
        opacity: 1;
        transform: none;
        text-align: left;
    }
}

/* search result list */
.zhishidi-searchproduct-result-index {
    h3{
        margin-bottom: 20px;
    }
}

/* qiuck view */
.quickView {
    text-align: left;
    .productAside {
        width: auto;
        margin-right: 20px;
    }
    .switchImg {
        text-align: left;

        ul {
            display: block;
            font-size: 0px;
            width: auto;
            margin-top: 10px;
            margin-right: 0px;
        }
        li {
            margin: 0px 5px 0px 0px;
            width: 70px;
            height: 70px;
            display: inline-block;
        }
        > div {
            width: 400px;
        }
    }
    .productDetail {
        width: 500px;
        text-align: left;
    }
    .custom {
        a {
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $basecol;
            }
        }

        i {
            margin-right: 5px;
        }
    }
    .customsize {
        label {
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $basecol;
            }
        }

        input {
            display: none;
        }
    }
    .prev, .next {
        font-size: pxToRem(60px);
        position: absolute;
        top: 40%;
        right: 2px;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        height: 60px;
        width: 20px;
        opacity: 0;
        visibility: hidden;

        &:hover {
            color: $basecol;
        }
    }
    .prev {
        right: none;
        left: 2px;
    }
    .disable {
        display: none;
    }
    .popUp:hover {
        .prev, .next {
            visibility: visible;
            opacity: 1;
        }
    }

    #shipping {
        display: none;
    }
}
.scrollBox {
    padding-bottom: 20px;
    text-align: left;

    > ul {
        font-size: 0px;
        border-bottom: 2px solid #4c4e44;
        margin-bottom: 20px;

        li {
            font-size: pxToRem(16px);
            text-transform: uppercase;
            padding: 5px 15px;
            display: inline-block;
            color: $textcol;
            transition: all 0.2s ease-in-out;
            position: relative;
            cursor: pointer;

            &:hover, &.active {
                color: #4c4e44;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    width: 0px;
                    height: 0px;
                    left: 40%;
                    border-width: 10px;
                    border-style: solid;
                    border-color: #4c4e44 transparent transparent transparent;
                }
            }
        }
    }

    > div, > section {
        overflow-y: scroll;
        height: 200px;
    }
}

#description {
    img {
        display: none;
    }
}

.product_list2{
    li{
        position:relative;
        display: block;
        width: 100%;
        height: 216px;
        padding: 10px 0;
        border-bottom:1px solid #cfcfcf;
        border-top:1px solid transparent;
        border-left:1px solid transparent;
        border-right:1px solid transparent;
        margin-bottom: 10px;
        &:hover{
            transition: all .5s ease-in-out;
            padding:10px;
            border:1px solid #f6ba71;
        }
        >img{
            position: absolute;
            right:10px;
            top:10px;
        }
    }
    a{
        display:block;
        float: left;
        margin-right:30px;
    }
    .xinxi{
        width: 360px;
        margin-bottom: 30px;
        a{
            width: 100%;
            font-size: 16px;
            color:#818181;
            margin:10px 0;
            &:hover{
                transition: all .5s ease-in-out;
                color:#eb9712;
            }
        }
        .xingxing{
            width:100%;
            span{
                color:#eb9712;
                display: inline-block;
            }
        }
        .icon-0090feiji01{
            margin-left: 35px;
            margin-right: 10px;
        }
        .money{
            margin-top:20px;
            margin-bottom: 10px;
            span{
                font-size:36px;
                color:red;
                margin-top: 20px;
                margin-bottom:10px;
            }   
            label{
               color:#bbb;
               font-size:18px;
               margin-left: 15px;
               text-decoration: line-through;
            }
            +div{
                font-size: 14px;
                font-weight: bold;
                color:#4e4e4e;
                border: 1px solid #4e4e4e;
                width: 90px;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }                  
        }
        p{
            font-size:16px;
            color:#818181;
            margin-top: 10px;
        }  
    }
    .addtobag{
        width: 340px;
        height: 90px;
        margin-top:80px;
        p{
            margin-bottom: 18px;
            color:#818181;
            a{
                display: inline-block;
                color:#f6ba71;
                border-bottom:1px solid #f6ba71;
                float: right;
            }
        }
        button{
            display:block;
            width: 180px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: red;
            color: white;
            float: left;
            border-radius:3px;
            font-size: 14px;
            font-weight: bold;
            border:1px solid transparent;
            &:hover{
                transition:all .5s ease;
                border:1px solid red;
                background:white;
                color:red;
            }
            &+a{
                display:inline-block;
                margin-left:20px;
                margin-top:12px;
                &:hover{
                    color:#f6ba71;
                    border-bottom:1px solid #f6ba71;
                }
                .iconfont{
                    margin-right:5px;
                }
            }
        }
    }
}
/* dress css*/
.deess_product_list2{
    .addtobag {
        margin-left: 100px;
    }
}
.search{
    .proItem:nth-child(4n+1){
        clear: none;
    }
    .proItem:nth-child(4n){
        margin-right:20px;
    }
    .proItem:nth-child(5n){
        margin-right: 0;
    }
    .proItem{
        margin-right: 20px;
    }
}
/* dress css -- end --*/