@import '../base/_normalize';
@import '../widget/color.scss';
@import '../layout/common.scss';
@import '../layout/footer.scss';
@import '../widget/progress.scss';
@import '../widget/cart_right.scss';
@import '../widget/address_form.scss';

.colored
{
    li:nth-child(2)
    {
        display: none;
    }
    li:nth-child(3)
    {
        display: none;
    }
    li:nth-child(4)
    {
        display: none;
    }
}

.leftD
{
    width: 730px;
    h3
    {
        font-size: 18px;

        width: 170px;
        margin-top: -10px;
        margin-bottom: 30px;
        margin-left: -10px;
        background: white;
    }
}
.address_list
{
    width: 730px;
    margin-bottom: 45px;
    padding-left: 10px;
    i
    {
        font-style: normal;
    }
    .clicked
    {
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        display: block;
        width: 300px;
        margin-top: 20px;
        margin-left: 35px;
        text-align: center;
        color: white;
        border-radius: 3px;
        background: #eeb053;
        border: 1px solid #eeb035;
        &:hover{
            color:#eeb035;
            border: 1px solid #eeb035;
            background:white;
        }
    }
    .contentd
    {
        width: 100%;
        height: 121px;
    }
    .contentd input
    {
        display: block;
        float: left;

        width: 16px;
        height: 16px;
        margin: 40px 10px;
    }
    .contentd div
    {
        height: 100px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #666;
        p
        {
            height: 20px;
            color: #666;
            label
            {
                font-weight: bold;
            }
            .iconfont
            {
                margin-right: 5px;
                margin-left: 500px;
                color: #aaa;
            }
            a
            {
                color: #aaa;
                border-bottom: 1px solid #aaa;
            }
        }
    }
}
.shippingAddress
{
    border-top: 1px solid #cfcfcf;
}
.shippingOptions
{
    border-top: 1px solid #cfcfcf;
    width: 100%;
    margin-top:50px;
    position: relative;
    p{
        position: absolute;
        top:15px;
        left: 0;
        font-size: 20px;
    }
    li{
        margin-bottom: 20px;
    }
    label{
        display: block;
        width: 100%;
    }
    span{
        margin-bottom: 10px;
    }
    .title{
        font-size: 14px;
        color:#666;
        font-weight: bold;
        width: 350px;
        display: inline-block;
    }
    .time{
        font-size: 14px;
        color:#333;
        width: 200px;
        display: inline-block;
    }
    .price{
        font-size:16px ;
        font-weight: bold;
        color:red;
        float: right;
    }
    .checkbox{
        margin-left: 20px;
        .Trackingnumber{
            margin-left: 5px;
        }
        .money{
            color:red;
            margin-left: 10px;
        }
    }
}
.PaymentMethod
{
    width: 730px;
    margin-top: 30px;
    border-top: 1px solid #cfcfcf;
    position: relative;
    p{
        font-size: 12px;
        line-height: 20px;
    }
    h3
    {
        font-size: 18px;
        width: 170px;
        height: 10px;
        margin-top: -10px;
        margin-bottom: 30px;
        margin-left: -10px;
        color: #333;
        background: white;
    }
    li{
        width: 90%;
        label{
            width: 90%;
            display: inline-block;
            line-height: 70px;
            font-size: 14px;
            margin-left: 30px;
        }
    }
    input
    {
        float: left;
        height: 68px;
    }
}
.OrderRequest
{
    width: 730px;
    margin-top: 30px;
    border-top: 1px solid #cfcfcf;
    p
    {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        color: #aaa;
    }
    textarea
    {
        font-size: 14px;
        overflow-y:hidden;
        width: 100%;
        border: 1px solid #cfcfcf;
        resize: none;
        text-indent: 5px;
        border-radius: 3px;
    }
}

