@import '../base/_normalize';
@import '../widget/color.scss';
@import '../layout/common.scss';
@import '../layout/footer.scss';
@import '../widget/progress.scss';
@import '../widget/cart_right.scss';
.colored
{
    li:nth-child(2)
    {
        display: none;
    }
    li:nth-child(3)
    {
        display: none;
    }
    li:nth-child(4)
    {
        display: none;
    }
}
select::-ms-expand { display: none; };
.required
{
    color: red;
}
.leftD
{
    width: 730px;
    h3
    {
        font-size: 18px;

        width: 170px;
        margin-top: -10px;
        margin-bottom: 30px;
        margin-left: -10px;

        background: white;
    }
}
.address_list
{
    width: 730px;
    margin-bottom: 45px;
    padding-left: 10px;
    i
    {
        font-style: normal;
    }
    .clicked
    {
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        display: block;
        width: 300px;
        margin-top: 20px;
        margin-left: 35px;
        text-align: center;
        color: white;
        border-radius: 3px;
        background: #eeb053;
        border: 1px solid #eeb035;
        &:hover{
            color:#eeb035;
            border: 1px solid #eeb035;
            background:white;
        }
    }
    .contentd
    {
        width: 100%;
        height: 121px;
    }
    .contentd input
    {
        display: block;
        float: left;

        width: 16px;
        height: 16px;
        margin: 40px 10px;
    }
    .contentd div
    {
        height: 100px;
        padding-bottom: 10px;

        border-bottom: 1px dashed #666;
        p
        {
            height: 20px;

            color: #666;
            label
            {
                font-weight: bold;
            }
            .iconfont
            {
                margin-right: 5px;
                margin-left: 500px;

                color: #aaa;
            }
            a
            {
                color: #aaa;
                border-bottom: 1px solid #aaa;
            }
        }
    }
}
.mask
{
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
    opacity: .5;
    background-color: #777;
    filter: alpha(opacity=60);
    -moz-opacity: .5;
}

.shipping-address-form
{
    width: 730px;
    margin-bottom: 45px;
    padding-left: 10px;
    input[type='text']
    {
        font-size: 16px;

        height: 35px;

        text-indent: 5px;

        border: 1px solid #cfcfcf;
        border-radius: 2px;
        &:hover
        {
            border: 1px solid transparent;
            box-shadow: 0 0 5px rgba(82, 168, 236, 1);
        }
    }
    label
    {
        font-size: 14px;

        display: block;

        height: 20px;
        margin-top: 10px;

        color: #b0b0b0;
        span
        {
            margin-right: 5px;
        }
    }
    p
    {
        font-size: 14px;

        width: 342px;
        margin: 10px 0;

        word-wrap: break-word;
        word-break: break-normal;

        color: red;
    }
    .Firstname
    {
        input
        {
            width: 340px;
        }
        .Firstname_right
        {
            float: right;
        }
        .Firstname_left
        {
            float: left;
        }
    }
    .AddressLine2,
    .AddressLine1
    {
        input
        {
            width: 100%;
        }
    }
    .selectd
    {
        li{
            float: left;
           select{
                display: inline-block;
                width: 215px;
                height: 35px;
                border: 1px solid #cfcfcf;
                text-indent: 5px;
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                background:url(../images/place_order_03.jpg) no-repeat scroll 93% center transparent;
            }
        }
        .city
        {
            margin: 0 39px;
            float: left;
            border: none;
            input
            {
                width: 215px;
            }
        }
    }
    .zip
    {
        margin-bottom: 20px;
        label
        {
            margin-top: 10px;
        }
        input
        {
            width: 729px;
        }
    }
    a
    {
        display: block;
        float: right;

        width: 135px;
        margin: 0 auto;

        color: #666;
        border-bottom: 1px solid #666;
        &:hover
        {
            color: #eeb053;
            border-bottom: 1px solid #eeb053;
        }
    }
}
.popup{
    display: none;
    position: fixed;
    top:10%;
    left:25%;
    width: 730px;
    margin-bottom: 45px;
    padding-left: 10px;
    box-shadow:1px 1px  10px #333;
    padding: 35px 25px;
    z-index: 1003;
    background: white;
    .icon-close{
        position: absolute;
        top:-15px;
        right: -15px;
        font-size: 30px;
        cursor: pointer;
    }
    input[type='text']
    {
        font-size: 16px;

        height: 35px;

        text-indent: 5px;

        border: 1px solid #cfcfcf;
        border-radius: 2px;
        &:hover
        {
            border: 1px solid transparent;
            box-shadow: 0 0 5px rgba(82, 168, 236, 1);
        }
    }
    label
    {
        font-size: 14px;

        display: block;

        height: 20px;
        margin-top: 10px;

        color: #b0b0b0;
        span
        {
            margin-right: 5px;
        }
    }
    .Firstname
    {
        input
        {
            width: 340px;
        }
        .Firstname_right
        {
            float: right;
        }
        .Firstname_left
        {
            float: left;
        }
    }
    .AddressLine2,
    .AddressLine1
    {
        input
        {
            width: 100%;
        }
    }
    .selectd
    {
        li{
            float: left;
            select{
                display: inline-block;
                width: 215px;
                height: 35px;
                border: 1px solid #cfcfcf;
                text-indent: 5px;
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                background:url(../images/place_order_03.jpg) no-repeat scroll 93% center transparent;
                padding-right: 14px;
            }
        }   
        .city
        {
            margin: 0 39px;
            float: left;
            border: none;
            input
            {
                width: 215px;
            }
        }
    }
    .zip
    {
        margin-bottom: 20px;
        label
        {
            margin-top: 10px;
        }
        input
        {
            width: 729px;
        }
    }
    button{
        display: block;
        margin: 10px auto;
        width: 245px;
        height: 30px;
        background: #eeb035;
        color:white;
        border: 1px solid #eeb035;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            color:#eeb035;
            border: 1px solid #eeb035;
            background:white;
        }
    }
    .Privacy
    {
        display: block;
        width: 135px;
        margin: 0 auto;
        color: #666;
        border-bottom: 1px solid #666;
        &:hover
        {
            color: #eeb053;
            border-bottom: 1px solid #eeb053;
        }
    }
}
.shippingAddress
{
    border-top: 1px solid #cfcfcf;
}
.shippingOptions
{
    border-top: 1px solid #cfcfcf;
    width: 100%;
    margin-top:50px;
    li{
        margin-bottom: 20px;
    }
    label{
        display: block;
        width: 100%;
    }
    span{
        margin-bottom: 10px;
    }
    .title{
        font-size: 14px;
        color:#666;
        font-weight: bold;
        width: 350px;
        display: inline-block;
    }
    .time{
        font-size: 14px;
        color:#333;
        width: 200px;
        display: inline-block;
    }
    .price{
        font-size:16px ;
        font-weight: bold;
        color:red;
        float: right;
    }
    .checkbox{
        margin-left: 20px;
        .Trackingnumber{
            margin-left: 5px;
        }
        .money{
            color:red;
            margin-left: 10px;
        }
    }
}
.PaymentMethod
{
    width: 730px;
    margin-top: 30px;
    border-top: 1px solid #cfcfcf;
    h3
    {
        font-size: 18px;

        width: 170px;
        height: 10px;
        margin-top: -10px;
        margin-bottom: 30px;
        margin-left: -10px;

        color: #333;
        background: white;
    }
    li{
        width: 80%;
        height: 75px;
        label{
            display: inline-block;
            line-height: 70px;
            font-size: 16px;
            margin-left: 30px;
        }
    }
    input
    {
        float: left;
        height: 68px;
    }
}
.OrderRequest
{
    width: 730px;
    margin-top: 30px;

    border-top: 1px solid #cfcfcf;
    p
    {
        font-size: 14px;
        line-height: 20px;

        margin-bottom: 20px;

        color: #aaa;
    }
    textarea
    {
        font-size: 14px;

        width: 100%;

        resize: none;
        text-indent: 5px;

        border-radius: 3px;
    }
}
