@import "../help/_helper";
@import "../base/_normalize";
@import "../components/_colors";
@import "../components/_form";
@import "../components/_buttons";
@import "../components/_selectDrop";
@import "../layout/_layout";
@import "../layout/_product";
@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";

.proOneFree {
    display: inline-block;
    width: 100%;

    h4 {
        background: #eee;
        font-size: pxToRem(18px);
        color: $basecol;
        text-transform: capitalize;
        padding: 10px 20px;
    }

    ul {
        margin-top: 20px;
        font-size: 0px;

        li {
            display: inline-block;
            vertical-align: middle;
            font-size: pxToRem(14px);
            position: relative;

            &:nth-of-type(n+3):nth-last-of-type(n+4) {
                margin-right: 10px;
            }
        }
    }

    div {
        text-align: justify;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0px;
            overflow: hidden;
        }
    }

    span {
        color: $red;
    }

    p {
        span {
            display: block;
        }

        margin-bottom: 10px;
        padding-bottom: 10px;

        &:last-of-type {
            border-bottom: 1px solid #ededed;
        }
    }

    .total {
        font-size: pxToRem(40px);
        font-weight: bold;

        &:first-letter {
            font-size: pxToRem(20px);
        }
    }

    .proText {
        width: 230px;
    }

    i {
        margin: 0px 10px;
    }

    .btn {
        font-size: pxToRem(24px);
    }

    .options {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .btn {
        font-size: pxToRem(14px);
    }

    dl {
        text-align: center;
        margin-top: 40%;
    }

    dt {
        margin-bottom: 10px;
    }

    .input-box {
        text-align: center;
    }
}

.proReview {
    a {
        transition: all 0.2s ease-in-out;

        &:hover {
            color: $basecol;
        }
    }

    .active {
        color: $basecol;
    }
}

.addthis_sharing_toolbox {
    vertical-align: middle !important;
    margin-left: 20px;
}

.proDetailList {
    font-size: 0px;
    margin-top: 10px;

    a {
        display: inline-block;
        vertical-align: middle;
        font-size: pxToRem(12px);
        margin-right: 20px;
        transition: all 0.2s ease-in-out;
        text-transform: capitalize;

        &:hover {
            color: $basecol;
        }
    }

    i {
        margin-right: 5px;
        opacity: 0.7;
    }
}

.productDetail {
    form:first-child{
        margin-top:40px;
    }
    .cheap{
        height: 80px;
        line-height: 80px;
    }
    .save{
        margin-left:5px;
        margin-right:20px;
    }
    .proInfo{
        span{
            color:#eb9712;
        }
        .tubiao{
            float: left; 
            margin-right: 35px;   
        }
        .shipping{
            width: 156px;
            float: left;
        }
        .ship{

            float:left;
        }
    }
    .countDown{
        font-weight: bold;
    }
    .proDetailOption{
        span{
                display: block;
                float: left;
                height: 20px;
                width: 50px;
                font-size: 16px;
                 margin-top:18px;
            }
        li{
            border: 1px solid transparent;
        }
        .size{
            a{
               width: 80px;
               font-size: 16px;
               border-bottom: 1px solid #818181;
               margin-right:250px;
               color:#818181;
               float: right;
               margin-top:7px;
            }
            span{
                margin-top:7px;
                margin-right:10px;
            }
            li{
                margin-right:27px;
                line-height: 20px;
                text-align:center;
                width: 20px;
                height: 20px;
                border-radius:50%;
                &:hover{
                    border:1px solid red;
                }
            }
            
        }
    }
    .qty{
        i{
            display: inline-block;
            text-decoration: normal;
            text-align: center;
            width:90px;    
        }
      .prev,.next{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius:50%;
        border:1px dashed #888;
        text-align: center;
        font-size: 18px;
        }
        .next{
             border:1px solid #888;
        }
        .prev{
            margin-left:10px;
        }
    }
    .proDetailAction{
        span{
            font-family:Microsoft YaHei;
            text-transform:none;
            font-size:14px;
            color:#818181;
        }
        button{
            margin-right:30px;
            vertical-align:0;
            width: 220px;
            height: 40px;
            background: red;
            margin-top:10px;
        }

    }
}
.proDetailSimilar {
    ul{
        margin-top:40px;
        position: relative;
        border-top: 1px solid #ededed;
        h5{
            position: absolute;
            margin-left:-35px;
            top:-10px;
            width: 80px;
            height: 10px;
            text-align: center;
            background: white;
            font-size: 16px;
            color:#888;
         }
        li{
            width: 100px;
            height: 100px;
            float: left;
            margin: 15px 5px;
            img{
                margin:auto;
            }
        }
    }
}
/* saveMoney*/
.saveMoney{
    margin-top:20px;
    height: 340px;
    position:relative;
    border-top:1px solid #ededed;
    h2{
        position:absolute;
        top:-10px;
        width: 150px;
        height: 10px;
        background: white;
    }
    img{
        margin-top:20px;
        margin-bottom:5px;
        float: left;
        &:hover{
            box-shadow:0 0 3px #818181;
           transition: all 300ms ease-in-out; 
        }
    }
    .listimg{
        width: 720px;
        height: 250px;       
        float: left;
        overflow:scroll ;
        overflow-y:hidden;
        ul{
            height: 250px;
            width:200%;
        }
        li{
            height:250px;
            width:170px;
            float: left;
            margin-left:10px;
            a:first-child{
                display: block;
                width: 70px;
                height: 70px;
            }
            a{
                display: inline-block;
                height: 20px;
                &:hover{
                    color:#e5941a;
                }
            }
            i{
                font-style: normal;
                margin-left:5px;
                text-decoration: line-through;
            }
            span{
                color:red;
            } 
            .checkboxFive{
                cursor: pointer;
                float: right;
                width: 16px;
                height: 16px;
                border:1px solid #888;
                em{
                   display: none;
                }
                &:hover{
                    border:1px solid #e5941a;
                    background:#e5941a;
                    em{
                        color:white;
                        display: block;
                    }
                }
            }     
        }
    }
    .fuhao{
         float: left;
        width:60px;
        height: 210px;
        font-size:45px;
        color:#818181;
        text-align: center;
        padding-top:120px;
        font-weight: bold;
    }
    .inAll{
        text-align: right;
        p{
            color:#818181;
            margin-top:90px;
            height: 20px;
        }
        i{
             color:#818181;
            font-style:normal;
        }
        span{
            font-size: 20px;
            color:red;
        }
        button{
            margin-top:10px;
            width:110px;
            height: 20px;
            line-height: 20px;
            background:#e5941a;
            text-align: center;
            border:none;
            color: white;
            font-weight: bold;
            &:hover{
                transition: all 1s ease;
                box-shadow:1px 1px 5px #e5941a;
                -webkit-box-shadow:1px 1px 5px #e5941a;
                -o-box-shadow:1px 1px 5px #e5941a;
                -moz-box-shadow:1px 1px 5px #e5941a;
            }
        }
    }
}


.moreInfo {
    margin: auto;
    font-size: 0px;
    position: relative;
    text-align: left;
}

.productAddon {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.moreInfoAside {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    background: white;
    p {
        a {
            display: block;
        }
    }
}

.moreAsideSec {
    font-size: pxToRem(12px);
    border: 1px solid #dcdcdc;
    border-radius: 4px;

    h4 {
        font-size: pxToRem(14px);
        color: #666;
        text-align: center;
        padding: 10px 0px;
    }
}

.moreInfoCon {
    display: inline-block;
    vertical-align: top;
    width: 900px;
    margin-right: 30px;
    .leftD{
        height: 580px;
        width: 45px;
        float: left;
        position: relative;
        span{
            display: block;
            position:absolute;
            top:-57px;
            left:20px ;
            height: 130px;
            width: 2px;
            background: #e5941a;
            transform:rotate(60deg);
        }
    }
    .std{
        p{
            height: 20px;
        }
        .td{
            border-right:none;
            border-left:none;
        }
        .tt{
            border-right:none;
        }
    }
}

.moreInfoBar {
    background: white;
    width: $mainwidth;

    ul {
        font-size: 0px;
        width: 100%;
        border-bottom: 1px solid #dcdcdc;
        background: white;
    }

    li {
        display: inline-block;
        font-size: pxToRem(14px);
    }

    a {
        color: #666;
        display: block;
        padding: 10px 15px;
        border-bottom: 3px solid transparent;
        transition: all 0.2s ease-in-out;

         &:hover {         
            transition: all ease-in 0.2s;
            border-bottom: 3px solid #e5941a;
            position: relative;
            bottom:-2px;
            color:#e5941a;

        }
    }
}

.moreInfoSec {
    margin-bottom: 20px;
    font-size: pxToRem(14px);
    box-sizing: border-box;
    border-top: none;
    border-radius: 2px;
    position: relative;

    i{
        display: block;
        position:absolute;
        top:-10px;
        left:70px ;
        height: 130px;
        width: 2px;
        background: #e5941a;
        transform:rotate(60deg);
    }

    &:last-of-type {
        margin-bottom: 0px;
    }

    h4 {
        font-size: pxToRem(18px);
        text-transform: capitalize;
        padding: 10px 20px;
    }

    > div {
        padding: 40px;
        border-top: none;
    }
}

.backUp {
    width: 100%;
    height: 42px;
    display: none;
}

.backUp.active {
    display: block;
}

.showlist {
    padding: 10px;
    border-top: none;

    ul {
        text-align: justify;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
            overflow: hidden;
        }
    }

    li {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        border: 1px solid #ededed;
        border-radius: 2px;
        transition: all 0.2s ease-in-out;

        &:hover {
            border-color: $basecol;
        }
    }

    a {
        width: 120px;
        height: 120px;
        display: block;
        overflow: hidden;
        position: relative;
    }

    .first {
        line-height: 120px;
        text-align: center;
        background: #c3c3c3;
        color: white;
        width: 120px;
        height: 120px;
        font-size: pxToRem(16px);
    }
}

#reviews {
    width: 860px;
    height: auto;
    label{
        margin-left:20px;
    }
    .hideDiv{
        width: 100%;
        height:160px;
        margin: 0 auto;
        padding-left:200px;
        position:relative;
        >p{
            color:#d2d2d2;
            margin-bottom:10px;
        }
        >a{
            z-index: 3;
            display:inline-block;
            float: left;
            width: 0;
            height: 0;
            border-top:115px solid #f0aa42;
            border-left:80px solid transparent;
            border-right:80px solid transparent;
            border-bottom:80px solid transparent;
        }
        >label{
            position: absolute;
            color:white;
            top:70px;
            left:210px;
            z-index: 2;
        }
        button{
            border:none;
            background: white;
        }
        button>span{
            font-size: 35px;
            color:white;
            position: absolute;
            top:90px;
            left:263px;
            z-index: 1;
        }
        .sanjiao{
             width: 0;
            height: 0;
            border-top:76px solid transparent;
            border-left:26px solid transparent;
            border-right:54px solid #f0f0f0;
            border-bottom:35px solid #f0f0f0;
            float: left;
            margin-left:-63px;
        }
        .cont{
            width: 330px;
            height: 81px;
            float: left;
            padding:15px;
            background:#f0f0f0;
            h2{
                font-size: 34px;
                color:#e5941a;
             
            }
            p{
                color:#d2d2d2;
                height: 20px;
                line-height: 20px;
        
            }
            a{
                margin: 10px 0 ;
                color: #e5941a;
                width: 100px;
                border-bottom:1px solid #e5941a;
            }
            label{
                display: block;
                float: right;
                margin-top:-54px;
                margin-right:10px;
                width: 60px;
                height:60px;
                border-radius:50%;
                border:3px dashed #e5941a;
                span{
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color:white;
                    font-weight: bold;
                    border-radius:50%;
                    background:#e5941a;
                    font-size:30px;
                    margin-top:5px;
                    margin-left:5px;
                }
            }
        }
    }
    .evaluate{
        a{
            display: block;
            width: 117px;
            border-bottom: 2px solid #818181;
            margin: 5px auto;
            color:black;
            &:hover{
                transition: all .3s ease;
                color:#e5941a;
                border-bottom: 2px solid #e5941a;
            }
        }
        padding-left:90px;
        .xingji{
            padding-bottom:20px;
            color:#003333;
            border-bottom:1px solid #818181;
            span{
                font-size:24px;
                color:#e04c1a;
            }
            label{
                font-size: 16px;
                margin-left:20px;
                margin-right:50px;
            }
            p{
                margin-top:10px;
            }
        }
        .content{
            padding:20px 0;
             border-bottom:1px solid #818181;
             position:relative;
             .time{
                position:absolute;
                top:20px;
                right: 0;
             }
            span{
                color:#e5941a;
            }
            label{
                margin-left:20px;
            }
            ul{
                margin: 10px 0;
                li{
                    float: left;
                    margin-right:20px;
                }
            }
        }
    }   
}

.reviewAll {
    font-size: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;

    > span {
        font-size: pxToRem(20px);
        color: $basecol;
        width: 320px;
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    > div {
        display: inline-block;
        vertical-align: middle;
        width: 518px;
    }

    .range {
        font-size: pxToRem(14px);
        margin-bottom: 5px;

        span {
            display: inline-block;
            vertical-align: top;
            color: darken($textcol, 5%);
            width: 100px;
        }

        p {
            display: inline-block;
            vertical-align: middle;
            width: 300px;
            height: 10px;
            position: relative;
            background: #ddd;

            strong {
                position: absolute;
                background: $basecol;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
            }
        }

        em {
            font-style: normal;
            color: darken(#ddd, 5%);
            width: 30px;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
        }
    }
}



.buttonMore {
    text-align: right;
    margin-top: 20px;
    border: none;
    padding: 0px !important;
    .btn {
        width: 245px;
        height: 30px;
        background: #eeb053;
        text-align: center;

    }

    a {
        transition: all 0.2s ease-in-out;


    }
}
.switchImg{
    margin-top:40px;
    .addthis_sharing_toolbox{
        margin: 40px 0 0 176px;
        a{
            border-radius:50%;
            margin-left:10px;
        }

    }
}
#question {
    label{
        margin-left:20px;
    }
    .buttonMore{
        width:150px;
        margin-left:275px;
        margin-bottom:40px;
    }
    .reply{
        margin-bottom:40px;
        margin-left:55px;
        label{
            display: block;
            height:6px;
        }
    }
}

#wholesale {
    textarea{
        resize: none;
    }
    label {
        display: block;
        margin-bottom: 10px;

        > span {
            color:#003333;
            width: 260px;
            text-align: right;
            margin-right: 10px;

            &:after {
                content: "*";
                margin-left: 5px;
                color: $red;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &:nth-of-type(7) {
            span {
                &:after {
                    content: "";
                    margin-left: 5px;
                    display: inline-block;
                    width: 5px;

                }
            }
        }
        &:nth-of-type(8) {
            span{
                margin-top:-70px;
            }
        }
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }

    .input-box {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        box-sizing: border-box;

        + em {
            margin-left: 20px;
        }
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    input, textarea {
        @include inputfocus;
    }
    .btn{
        width: 245px;
        height: 30px;
        background:#eeb053;
        margin-left:273px;
        font-size: 16px;
    }
}

#payment {
    position: relative;
    clear: both;

    p {
        padding: 0px 10px;
        margin: 10px 0px;
        font-size: pxToRem(14px);
    }

    h5 {
        font-size: 16px;
        color: #c1c1c1;
        padding-left: 70px;
    }

    img {
        padding-left: 70px;
    }
}
.weddingInfo {
    margin-top: 20px;
    padding: 10px 0px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;

    p {
        font-size: pxToRem(14px);
        color: #767b84;
        text-align: center;
    }
}

.weddingTailor {
    color: #767b84;
    margin-top: 10px;

    .f1 {
        padding: 10px 0px;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        font-size: 0px;
        margin-bottom: 10px;
    }

    span {
        font-size: pxToRem(14px);
        display: inline-block;
        box-sizing: border-box;
        width: 50%;

        i {
            margin-right: 10px;
        }
    }

    .f2 {
        padding-left: 120px;
        position: relative;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
        }

        a {
            font-size: pxToRem(12px);
            margin-right: 10px;
        }
    }

    p {
        font-size: pxToRem(12px);
        margin: 10px 0px;
    }

    .proDetailList {
        font-size: 0px;
        margin-top: 30px;
    }
}

.shipChange {
    .selectDrop {
        width: 230px;
    }

    > div {
        h3 {
            font-size: pxToRem(18px);
            margin-bottom: 10px;
            color: $textcol;
            padding-bottom: 10px;
            border-bottom: 1px solid #ededed;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;

        label {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;

            @include radio(15px);
        }
    }

    thead {
        border-bottom: 1px solid #ededed;
    }

    td {
        font-size: pxToRem(16px);
        color: #aaa;
        padding: 10px 20px;
    }

    tr {}

    .price {
        color: $basecol;
    }

    > div {
        > label {
            font-size: pxToRem(16px);
        }
    }

    .field {
        margin-bottom: 20px;
    }
}

.bestSell {
    margin-top: 20px;
     border-top: 1px solid #dcdcdc;
     position: relative;
     padding:30px 0;

    h3{
        font-size: pxToRem(16px);
        width: 160px;
        background:white;
        position: absolute;
        top:-12px;
    }

    li {
        display: inline-block;
        vertical-align: top;
        width: 210px;
    }

    ul {

        text-align: justify;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
            overflow: hidden;
        }
    }
}



.reviewConfirm {
    form {
        box-sizing: border-box;
        border: 1px solid #ededed;
        border-top: none;
        padding: 20px;

        p {
            margin-bottom: 10px;
            font-size: pxToRem(14px);
        }

        > div {
            margin-bottom: 10px;

            span {
                display: block;
                margin: 5px 0px;
                font-size: pxToRem(14px);
                text-transform: capitalize;
            }

            + p {
                color: $red;
                text-align: right;
            }
        }

        .action {
            border-top: 1px solid #ededed;
            padding: 10px 0px;

            a, button {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            span {
                display: inline-block;
            }

            .fb {
                margin-right: 10px;
            }
        }

        button + a {
            margin-left: 10px;
        }
    }

    h4 {
        background: #eee;
        font-size: 18px;
        color: #f39c11;
        text-transform: capitalize;
        padding: 10px 20px;
    }

    input[type='text'], input[type='password'] {
        @include inputfocus;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

    label {
        display: block;
        padding: 2px 0px 2px 30px;
        margin-bottom: 5px;

        @include checkbox;

        a {
            color: #404040;
            text-decoration: underline;
        }
    }
}

.reviewBuyIt {
    .popInner {
        text-align: center;
    }
    p {
        font-size: pxToRem(20px);
        white-space: nowrap;
    }
    a {
        font-size: pxToRem(24px);
        display: inline-block;
        margin-top: 10px;
    }
}
.rating {
    > div {
        margin: 5px 0px;
        display: inline-block;
        vertical-align: top;
        margin: 0px 10px;
    }
}

.reviewSummary {
    span {
        width: auto !important;
        margin-left: 10px;
    }
}

.reviewOption {
    > div {
        display: inline-block;
        vertical-align: top;
        font-size: 0px;
        margin: 0px 10px 10px 0px;
        width: 175px;
    }

    span {
        width: 85px;
        font-size: pxToRem(14px);
        display: inline-block;
        vertical-align: middle;
    }

    strong {
        display: inline-block;
        vertical-align: middle;
    }

    input {
        width: 40px;
    }

    .selectDrop {
        width: 90px;
    }
}

.rate {
    cursor: pointer;

    i {
        margin-right: 0px;
        font-size: pxToRem(16px);
    }

    &.big i {
        font-size: pxToRem(20px);
    }

    &.large i {
        font-size: pxToRem(24px);
    }

    &.small i {
        font-size: pxToRem(14px);
    }

    .fa:before {
        transition: all 0.2s ease-in-out;
    }

    .fa {
        color: #999999;
    }

    .fa.hover, .fa.active {
        opacity: 1;
        color: #FFB70A;
    }

    .fa.hover.active {
        transition: all 0.2s ease-in-out;
        color: darken(#FFB70A, 5%);
    }
}

.reviewImage {
    display: block;
    cursor: pointer;
    cursor: zoom-in;
    margin-top: 5px;
}

@keyframes targetchange {
    0% {
        background: rgba($basecol, 0.5);
    }

    100% {
        background: rgba($basecol, 0);
    }
}

section:target {
    animation: targetchange 1s ease-in-out;
}

/* wedding description */

#weddingDetails {
    height: auto;
    overflow: hidden;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 12px;

    ul {
        font-size: 0px;
    }

    > p {}

    h3 {
        font-size: 18px;
        color: #4B4B4B;
        font-weight: normal;
    }

    h2 {
        font-weight: normal;
    }

    img {
        border: 1px solid #ededed;
        border-radius: 4px;
    }

    li {
        display: inline-block;
        vertical-align: top;
        margin: 10px 60px;
        width: 300px;

        p {
            color: $basecol;
            height: 120px;
            line-height: 1.6;
            font-size: 14px;
        }
    }
}

.alsobought {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

    h4 {
        background: #eee;
        font-size: 18px;
        color: $basecol;
        text-transform: capitalize;
        padding: 10px 20px;
    }

    ul {
        text-align: left;
        font-size: 0px;
    }

    li {
        display: inline-block;
        margin-right: 17px;
        width: 230px;
        font-size: pxToRem(13px);
    }

    .inner-also {
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        height: 296px;
        position: relative;

        &:hover i {
            opacity: 1;
        }
    }

    i {
        transition: all 0.2s ease-in-out;
        opacity: 0;

        &:hover {
            color: $basecol;
        }
    }

    .disable {
        color: lighten($gray, 10%);
    }
}

// price match
.priceMatch {
    h4 {
        font-size: pxToRem(16px);
    }

    input, textarea {
        @include inputfocus;
    }

    .top {
        > div {
            font-size: 0px;
            margin: 20px 0px;

            div {
                display: inline-block;
                vertical-align: top;
                font-size: pxToRem(14px);
                width: 450px;
                margin-left: 20px;
            }
        }

        img {
            display: inline-block;
            vertical-align: top;
            margin: auto;
        }
    }

    textarea {
        max-height: 72px;
        box-sizing: border-box;
    }
}

#price_match {
    label {
        display: block;
        margin: 0px 0px 10px 0px;
    }

    span {
        display: inline-block;
        padding-left: 10px;
        position: relative;
        font-weight: bold;
        width: 180px;

        i {
            position: absolute;
            left: 0px;
            top: 20%;
            color: $red;
        }
    }

    .btn {
        margin-left: 10px;
    }
}