@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../widget/page.scss";
@import "../widget/progress.scss";
@import '../widget/cart_right.scss';
@import "../widget/button.scss";
i,label,input,span,button,a{
	display:inline-block;
}
.colored{
	li{
		display: none;
	}
}

.fl{
	float:left;
}
.shopnow{
	width: 100%;
	text-align: center;
	img{
		display: block;
		margin:60px auto 0;
	}
	label{
		color:#f39c11;
		font-size: 24px;
		font-weight: bold;
		margin:20px 0;
	}
	p{
		font-size: 18px ;
		color:#aaa;
		line-height: 30px;
	}
	a{
		display: block;
		width: 230px;
		line-height: 35px;
		margin: 30px auto ;
	}
}
.shopping_cart{
	width: 100%;
	height: auto;
	.cart_left{
		width:800px;
		height: auto;
		h2{
			font-size:20px;
			span{
			width: 7px;
			height: 20px;
			background:#df8d0a ;
			margin-right:10px;
			margin-top:3px;
			}
		}
		p{
			color:#333;
		}
		.list{
			height: 100px;
			width:auto;
			position: relative;
			margin-top:35px;
			>input{
				width: 20px;
				height: 20px;
				float: left;
				margin-top:38px;
				margin-right:16px;
			}
			.button{
				float: left;
				width: 40px;
				height: 100px;
				float: left;
				button{
					width: 20px;
					height: 20px;
					margin: 36px -2px;
				}
			}
			.commodity{
				width: 285px;
				height: 105px;
				>a{
					width: 100px;
					height: 100px;
					margin-right:20px;
					float: left;
					border:1px solid transparent;
					&:hover{
						border:1px solid #e5941a;
					}
				}
			}
			.listInformation{
				color:#818181;
				width:162px;
				height: 65px;
				font-size: 12px;
				a{
					line-height: 16px;
					color:#818181;
					float: left;
					clear:right;
					word-wrap: break-word;
					&:hover{
						transition:color .2s ease;
						color:#e5941a;
					}
				}
				p{
					font-size: 14px;
				}
			}
			.listSize{
				width:160px;
				height:30px;
				font-size: 12px;
				p{
					height: 15px;
				}
				span{
					margin-right:10px;
				}
			}
			.action{
				text-align:center;
				width: 127px;
				height:80px;
				padding-top:20px;
				margin-left:20px;
				a{
					span{
						font-size:25px;
						margin-right:5px;
						margin-bottom:10px;
						&:hover{
							transition:color .2s ease;
							color:#e5941a;
						}
					}
				}
				.later{
					color:#aaa;
					border-bottom:1px solid #aaa;
					&:hover{
						color:#e5941a;
						border-bottom:1px solid #e5941a;
					}
				}
			}
			.listQty{
				width: 140px;
				height: 80px;
				padding-top:20px;
				text-align: center;
				font-size:20px;
				margin-right:30px;
				input[type="text"]{
					width:35px;
					border:none;
					font-size: 16px;
					text-align: center;
					border:1px solid transparent;
					&:focus{
						border:1px solid rgba(82, 168, 236, 1);
					}
				}
				.minus,.plus{
				  width: 27px;
				  height: 27px;
				  line-height:27px;
				  border-radius:50%;
				  border:1px solid #888;
				  font-size: 18px;
				}
				.minus{
				    margin-left:10px;
				}
			}
			.listmoney{
				width: 100px;
				height: 100px;
				text-align: center;
				margin-top: 10px;
				p{
					font-size:20px;
					line-height: 20px;
					color: red;
				}
				.original-price>.price{
					display:block;
					line-height:20px;
					color:#818181;
					text-decoration: line-through;
					font-style: normal;
					margin-right:5px;
				}
				label{
					display:block;
					font-size:12px;
			    }
			}
		}
	}
	.itemsfoot{
		margin-top:30px;
		input{
			width:20px;
			height: 20px;
			margin-right:10px;
		}
		a{
			color:#bdbdbd;
			border-bottom:1px solid #bdbdbd;
			margin-left:30px;
			&:hover{
				transition: all .5s ease;
				color:#e5941a;
				border-bottom:1px solid #e5941a;
			}
		}
	}
}
.saveforlater{
	border-top:1px solid #bdbdbd;
	margin-top:80px;
 	li{
		padding:5px;
		width: 320px;
		height: 136px;
		float: left;
		margin-right:70px;
		margin-bottom:20px;
		&:hover{
			transition:box-shadow 0.5s ease;
			-o-transition:box-shadow 0.5s ease;
			-moz-transition:box-shadow 0.5s ease;
			-webkit-transition:box-shadow 0.5s ease;
			box-shadow:0 0 10px #bdbdbd;
			-o-box-shadow:0 0 10px #bdbdbd;
			-moz-box-shadow:0 0 10px #bdbdbd;
			-webkit-box-shadow:0 0 10px #bdbdbd;
		}
	}
	h3{
		width: 190px;
		height: 20px;
		background:white;
		margin-top:-40px;
		font-size:18px;
		padding:30px 0;
	}
	li>label{
		color:red;
		font-weight: bold;
		font-size: 16px;
		margin-right:5px;

	}
	a{
		float: left;
		margin-right:10px;
		&+a{
			width: 161px;
			float: left;
			word-wrap: break-word;
			word-break: normal;
			height: 40px; 
			&:hover{
				transition:color .2s ease;
				color:#e5941a;
			}
		}
	}
	i{
		font-style: normal;
		color:#bdbdbd;
		text-decoration: line-through;
	}
	.saveforlaterSize{
		margin-top:10px;
		margin-bottom: 7px;
		span{
			margin-right:10px;
		}
	}
	.delete{
		a{
			height:14px;
			width:auto;
			color:red;
			border-bottom:1px solid red;
			margin-right:30px;
			&:hover{
				color:red;
			}
		}
	}
}
