html{
	font-family: arial, georgia, verdana, simsun, helvetica, sans-serif;
}
body{
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 12px;
}
a{
	text-decoration: none;
	color: #333;
}
dl,h1,ul,dd,img{
	margin: 0;
	padding: 0;	
}
img{
	display: block;
}
li{
	list-style: none;
}
button{
	cursor: pointer;
}
.w1200{
	margin: 0 auto;
	width: 1200px;
}
.mt6{
	margin-top: 6px;	
}
.mt30{
	margin-top: 30px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
ul::after,.clearfix:after{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.content{
	.left{
		width: 271px;
	}
	.right{
		width: 902px;
	}
}

.sel_container{
	position: relative;
	.option{
		position: absolute;
		display:none;
		background-color: #fff;
		min-width: 100px;
		color: #000;
		z-index: 12;
	}
}
