header{
	border-bottom: 2px solid #f39c11;
	.dropdown{
		position: relative;
		.drop_content{
			position: absolute;
			display: none;
		}
	}
	.language_title,.currency_title,.chat_title,.vertical{
		line-height: 30px;
	}
	.language{
		li{
			width: 82px;
			a{
				line-height: 36px;
			}
		}
	}
	.tool{
		.left{
			float: left;
			i{
				line-height: 0;
				font-size: 12px;
			}
		}
		.right{
			float: right;
			.login{
				display: inline-block;
				a{
					line-height: 30px;
					span{
						color: #f39c11;
					}
				}
			}
		}
		.live_chat{
			i{
				font-size: 18px;
				color: #f39c11;
				display: inline-block;
				line-height: 0;
			}
		}
	}
	p{
		color: #cfcfcf;
		margin: 0 16px;
	}
	.logo{
		margin-top: 20px;
	}
	.search{
		width: 568px;
		height: 36px;
		background-color: #f39c11;
		border-radius: 30px;
		margin: 34px 0 0 88px;
		.cata_drop{
			line-height: 30px;
			color: #fff;
			float: left;
			margin-left: 36px;
		}
		.search-input{
			border-radius: 30px;
			float: right;
			width: 346px;
			height: 24px;
			background-color: #fff;
			margin: 4px 4px 0 0; 
			padding-top: 3px;
			input{
				border: none;
				margin-left:20px;
			}
			button{
				border: medium none;
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				vertical-align: middle;
				float: right;
			}
		}
	}
	.user{
		margin-top: 34px;
		i{
			font-size: 36px;
			margin-left: 21px;
			display: inline-block;
		}
	}
	.top_nav{
		position: relative;
		margin-top: 22px;
		height: 45px;
		.nav{
			margin-left: 277px;
			padding-top: 6px;
			li{
				a{
					line-height: 41px;
					color: #666;
				}
			}
		}
	}
	.menu{
		position: absolute;
		width: 270px;
		font-size: 17px;
		color: #333;
		box-shadow: 1px 2px 10px #aaa;
		.menu_title{
			font-style: italic;
			font-weight: normal;
			display: inline-block;
			line-height: 44px;
			padding-left: 30px;
			i{
				font-size: 22px;
				color: #f39c11;
				display: inline-block;
				line-height: 0;
			}
		}
		.list{
			height: 480px;
			padding-top: 4px;
			background-color: #fff;
			li{
				float: none;
				margin: 0 36px 0 33px;
				text-transform: none;
				position: relative;
				>a{
					color: #666;
					font-size: 14px;
					line-height: 38px;
					display: block;
				}
				>a:before{
					font-family: "iconfont" !important;
					font-size: 18px;
					font-style: normal;
					margin-right: 7px;
					color: #f39c11;
					line-height: 0;
					-webkit-font-smoothing: antialiased;
					-webkit-text-stroke-width: 0.2px;
					-moz-osx-font-smoothing: grayscale;					
				}
				>a:after{
					font-family: "iconfont" !important;
					font-size: 12px;
					font-style: normal;
					margin-right: 7px;
					color: #cfcfcf;
					line-height: 38px;
					content: "\e618";
					display: block;
					float: right;
					-webkit-font-smoothing: antialiased;
					-webkit-text-stroke-width: 0.2px;
					-moz-osx-font-smoothing: grayscale;
				}	
			}
			.subNav{
				position: absolute;
				width: 769px;
				height: 441px;
				left: 237px;
				top: 0;
				background-color: #fff; 
				padding: 30px 0 0 30px;
				dl{
					float: left;
					margin-left: 20px;
					dt{
						a{
							font-size: 14px;
							color: #333;
						}
					}
					dd{
						a{
							font-size: 14px;
							color: #818181;
						}
					}
				}
			}
		}
	}
	.top_nav{
		li{
			float: left;
			font-size: 14px;
			text-transform: uppercase;
			margin-left:60px;
		}
	}
}

.cate113:before{
	content: "\e605";
}
.cate114:before{
	content: "\e606";
}