header{
	height: 187px;
	border-bottom: 2px solid $maincolor;
	.vertical{
		line-height: 30px;
	}
	.language{
		ul{
			padding-top: 12px;
		}
		li{
			&:hover{
				background-color: $maincolor;
				a{
					color: #fff;
				}
			}
			width: 82px;
			a{
				line-height: 36px;
				display: block;
				padding-left: 12px;
			}
		}
		em{
			left: 64px;
		}
		.drop_content{
			left: -22px;
		}
	}
	.currency{
		li{
			&:hover{
				background-color: $maincolor;
				a{
					color: #fff;
				}
			}
			width: 82px;
			a{
				line-height: 36px;
				display: block;
				padding-left: 12px;
			}
		}
		.drop_content{
			left: -12px;
		}
		em{
			left: 45px;
		}
	}

	.tool{
		height: 30px;
		.left{
			float: left;
			i{
				line-height: 0;
				font-size: 12px;
			}
		}
		.right{
			float: right;
			.login{
				display: inline-block;
				a{
					line-height: 30px;
					span{
						color: $maincolor;
					}
				}
			}
		}
		.live_chat{
			i{
				font-size: 18px;
				color: #f39c11;
				display: inline-block;
				line-height: 0;
			}
			em{
				left: 258px;
			}
			.drop_content{
				width: 259px;
				left: -222px;
				padding: 0 18px 16px 18px;
				i{
					font-size: 32px;
					display: block;
					float: left;
					line-height: normal;
				}
			}
			span{
				color: #333;
				font-size: 12px;
				font-weight: bold;
			}
			div{
				padding-top: 18px;
				float: left;
			}
			p{
				color: #666;
				font-size: 12px;
				margin: 0;
				float: left;
				width: 207px;
				padding-left: 18px;
				line-height: 16px;
			}
		}
	}
	p{
		color: #cfcfcf;
		margin: 0 16px;
	}
	.logo{
		margin-top: 20px;
	}
	.content{
		height: 88px;
	}
	.search{
		width: 480px;
		height:38px;
		margin: 34px 0 0 150px;
		border: 1px solid #cfcfcf;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,.1) inset;
		position: relative;
		.search-input{
			background-color: #fff;
			margin: 4px 4px 4px 0; 
			input{
				border: none;
				outline: none;
				margin-left:20px;
				height: 28px;
				line-height: 28px;
				width: 88%;
			}
			button{
				border: medium none;
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				vertical-align: middle;
				float: right;
				i{
					display: inline-block;
					margin-top: 5px;
				}
				&:hover{
					i{
						color: #ec9100;
					}
				}
			}
		}
		.search_complete{
			display: block;
		    left: 0px;
		    position: absolute;
		    top: 37px;
		    width: 100%;
		    background-color: rgb(255, 255, 255);
		    box-shadow: 0 0px 1px 0 rgba(0,0,0,.1) inset;
		    z-index: 20;
			li{
				a{
					line-height: 30px;
					display: block;
					padding-left: 22px;
					&:hover{
						background-color: #ddd;
						border-radius: 1px;
					}
				}
			}
		}
	}
	.user{
		margin-top: 34px;
		i{
			font-size: 36px;
			margin-left: 21px;
			display: inline-block;
			cursor: pointer;
		}
		.cart {
			position: relative;
			.drop_content{
				width: 287px;
				left: -232px;
				top: 39px;
				padding: 15px 0;
				text-align: center;
				ul{
					text-align: left;
					padding: 0 16px;
					border-bottom: 1px dashed #dfdfdf;
					max-height: 260px;
					li{
						margin-bottom: 16px;
						float: left;
						a{
							display: inline-block;
							float: left;
						}
						img{
							width: 70px;
							height: 70px;
							margin-right: 16px;
						}
						p,div{
							float: left;
						}
						p{
							width: 169px;
							margin: 0;
						}
					}
				}
				.view_cart{
					display: inline-block;
					width: 150px;
					height: 30px;
					border-radius: 2px;
					background-color: $maincolor;
					line-height: 30px;
					color: #fff;
					margin-top: 16px;
				}
			}
			.qty{
				position: absolute;
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #f30c0c;
				color: #fff;
				text-align: center;
				top: -7px;
				left: 44px;
			}
		}
	}
	.account {
		i{
			display: inline-block;
		}
		&.active .icon-account{
			border-bottom: 2px solid $maincolor;
		}
		.drop_content{
			width: 134px;
			border: none;
			box-shadow: 0 1px 3px 0 rgba(0,0,0,.35);
			text-align: center;
			padding-top: 18px;
			top: 43px;
			left: -76px;
			.sign_in{
				line-height: 29px;
				width: 102px;
				background-color: #f39c11;
				display: inline-block;
				border-radius: 2px;
				color: #fff;
			}
			.or{
				display:block;
			}
			.register{
				width: 102px;
				line-height: 29px;
				color: #f39c11;
				border: 1px solid $maincolor;
				border-radius: 2px;
				display: inline-block;
				margin: 20px 0;
			}
			.sign_with{
				display: block;
				height: 20px;
				border-bottom: 1px dashed #333;
			}
			ul{
				li{
					line-height: 27px;
				}
			}
		}
	}
	.top_nav{
		position: relative;
		margin-top: 22px;
		height: 45px;
		.nav{
			margin-left: 285px;
			padding-top: 4px;
			li{
				float: left;
				font-size: 14px;
				text-transform: uppercase;
				margin-right:60px;
				cursor: pointer;
				&:hover{
					a{
						color: $maincolor;
					}
				}
				a{
					line-height: 41px;
					color: #666;
					font-weight: bold;
				}
			}
		}
	}
	.menu{
		position: absolute;
		width: 250px;
		font-size: 17px;
		color: #333;
		z-index: 10;
		.menu_title{
			font-style: italic;
			font-weight: normal;
			display: inline-block;
			line-height: 44px;
			padding-left: 25px;
			i{
				font-size: 22px;
				color: #f39c11;
				display: inline-block;
				line-height: 0;
			}
			.icon-down{
				color: #333;
				margin-left: 13px;
				font-size: 18px;
			}
			.icon-all{
				margin-right:4px;
			}
		}
		.list{
			height: 480px;
			padding-top: 5px;
			background-color: #fff;
			display: none;
			li{
				float: none;
				padding: 0 20px 0 28px;
				text-transform: none;
				margin: 0;
				cursor: pointer;
				>a{
					color: #333;
					font-size: 14px;
					line-height: 41px;
					display: block;
				}
				>a:before{
					font-family: "iconfont" !important;
					font-size: 18px;
					font-style: normal;
					margin-right: 7px;
					color: #f39c11;
					line-height: 0;
					-webkit-font-smoothing: antialiased;
					-webkit-text-stroke-width: 0.2px;
					-moz-osx-font-smoothing: grayscale;					
				}
				>a:after{
					font-family: "iconfont" !important;
					font-size: 12px;
					font-style: normal;
					margin-right: 7px;
					color: #cfcfcf;
					content: "\e618";
					display: block;
					float: right;
					-webkit-font-smoothing: antialiased;
					-webkit-text-stroke-width: 0.2px;
					-moz-osx-font-smoothing: grayscale;
				}
				&.active{
					a{
						color: #f39c11;
					}
					a:after{
						color: #f39c11;
					}
				}	
			}
			.subNav{
				position: absolute;
				display: none;
				width: 789px;
				min-height: 462px;
				left: 250px;
				top: 47px;
				background-color: #fff; 
				padding-top: 20px; 
				z-index: 10;
				box-shadow: 0 2px 5px rgba(0,0,0,.3);
				&:before{
					content: "";
					position: absolute;
					width: 20px;
					min-height: 482px;
					top: 0;
					left: -13px;
					background-color: #fff;
					z-index: 10;
				}
				dl{
					float: left;
					margin-left: 20px;
					max-width: 177px;
					min-width: 177px;
					min-height: 150px;
					dt{
						margin-bottom: 8px;
						a:hover{
							color: #f39c11;
						}
						a{
							font-size: 13px;
							font-weight: bold;
							color: #333;
						}
					}
					dd{
						margin: 0 0 4px 8px;
						a:hover{
							color: #f39c11;
						}
						a{
							font-size: 13px;
							color: #818181;
						}
					}
				}
				dl:nth-child(4n){
					clear: right;
				}
			}
		}
	}
}

.dropdown{
	cursor: pointer;
	.title{
		line-height: 30px;
		i{
			display: inline-block;
			transition: all 0.2s ease-in-out;
		}
	}
	position: relative;
	.drop_content{
		border: 1px solid #ddd;
		position: absolute;
		display: none;
		background-color: #fff;
		z-index: 11;
		em{
			width: 0;
			height: 0;
			border-width:0 7px 7px;
			border-color: transparent;
			border-style: solid;
			position: absolute;
			top: -8px;
		}
		em.triangle_gb{
			border-bottom-color: #ddd;
		}
		em.triangle_wb{
			top: -7px;
			border-bottom-color: #fff;
		}
	}
	&.active{
		.title{
			color: #f39c11;
			i.icon-down{
				transform: rotate(180deg);
			}
		}
	}
}


.menu.active{
	box-shadow: 0px 2px 5px rgba(0,0,0,.3);
	.list{
		display: block;
	}
}
.cms-index-index{
	.std{
		display:none;
	}
}

.h113:before{
	content: "\e611";
}
.h114:before{
	content: "\e62d";
}
.h498:before{
	content: "\e610";
}
.h885:before{
	content: "\e606";
}
.h340:before{
	content: "\e60e";
}
.h173:before{
	content: "\e60a";
}
.h367:before{
	content: "\e62a";
}
.h431:before{
	content: "\e603";
}
.h199:before{
	content: "\e62b";
}
.h269:before{
	content: "\e605";
}
.h154:before{
	content: "\e629";
}